.Person {
    width: 60%;
    margin: 16px auto;
    border: 1px solid rgb(79, 109, 189);
    box-shadow: 0 2px 3px rgb(61, 63, 78);
    padding: 16px;
    text-align: center;
    background-color: rgb(131, 206, 200);
}